<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <title>Umfrage</title>
  </head>
  <body>
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <div class="container">
      <h1>Umfragen</h1>
      <h2>
        Schön das du da bist... entweder hast du deine Umfrage schon ausgefüllt
        und bist damit fertig oder du bist hier gelandet warum... Du solltest
        eine E-Mail erhalten mit einen Link der dich direkt zur Umfrage führt!
      </h2>
    </div>

    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
  </body>
</html>
